/* COLORS USED 

#010B40 --> Violent Violet
#0E3659 --> Prussian Blue
#486773 --> Planet Green
#BDBFAE --> Light Goldenrod Yellow
#F2E2C4 --> Paper Lantern

*/

/* GENEERAL STYLES */

* {
    margin: 0;
}

body {
    background-color: #F2E2C4;
}

/* NAV BAR STYLES */

nav {
    width: 100vw;
    height: 100%;
    padding: 1em 0.5em;
    background-color: #0e3659;
    text-align: center;
    font-family: Roboto;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Distributes items evenly */
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none
}

.menu-item {
    display: inline-block;
}

#logo {
   width: 100vw;
   flex: left;
   font-family: Passions Conflict;
   color: #BDBFAE;
   font-size: 3em;
   margin-bottom: 0.25em;
}

#menu {
    width: 100vw;
}

nav a {
    text-decoration: none;
    color: #F2E2C4;
}

#logo a {
    font-family: Passions Conflict;
    color: #BDBFAE;
    text-decoration: none;
}

@media only screen and (min-width: 992px) {
    nav {
        display: flex;
        height: 80px;
    }

    #logo {
        width: 30vw;
        flex: left;
        font-family: Passions Conflict;
        color: #BDBFAE;
        font-size: 4.5em;
        line-height: 80px;
        margin-left: 200px;
        margin-bottom: 0.25em;
    }
    
    #menu {
        width: 70vw;
        line-height: 80px;
        margin-right: 200px;
        margin-left: 100px;
    }

    nav a:hover {
        color: #BDBFAE;
    }
}

/* MAIN PART STYLES */

/* FOOTER STYLES */

footer {
    background-color: #0e3659;
    color:#F2E2C4;
    font-family: Roboto;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 1em 0.5em;
}

@media only screen and (min-width: 992px) {
    footer p {
        margin-left: 200px;
    }
}