/* COLORS USED 

#010B40 --> Violent Violet
#0E3659 --> Prussian Blue
#486773 --> Planet Green
#BDBFAE --> Light Goldenrod Yellow
#F2E2C4 --> Paper Lantern

*/

/* GENEERAL STYLES */

:root {
    --violet: #010B40;
    --blue:#0E3659;
    --green: #486773;
    --yellow: #BDBFAE;
    --paper: #F2E2C4;
}

* {
    margin: 0;
}

body {
    background-color: var(--paper);
}

#container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        "header     header"
        "content    content"
        "footer     footer"
}

/* NAV BAR STYLES */

header {
    grid-area: header;
    background-color: var(--blue);
    padding: 0.5em;
    font-family: Roboto;
}

nav {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "logo"
        "navig"
    
}

#logo {
   grid-area: logo;
   font-family: Passions Conflict;
   color: var(--yellow);
   font-size: 3em;
}

#menu {
    grid-area: navig;
}

nav ul {
    display: inline-block;
    list-style: none;
}

.menu-item {
    float: left;
    padding: 0 0.25em;
}
/* nav a {
    text-decoration: none;
    color: var(--paper);
}

#logo a {
    font-family: Passions Conflict;
    color: var(--yellow);
    text-decoration: none;
} */

@media only screen and (min-width: 992px) {
    nav {
        display: flex;
        height: 80px;
    }

    #logo {
        width: 30vw;
        flex: left;
        font-family: Passions Conflict;
        color: var(--yellow);
        font-size: 4.5em;
        line-height: 80px;
        margin-left: 200px;
        margin-bottom: 0.25em;
    }
    
    #menu {
        width: 70vw;
        line-height: 80px;
        margin-right: 200px;
        margin-left: 100px;
    }

    nav a:hover {
        color: var(--yellow);
    }
}

/* MAIN PART STYLES */
main {
    grid-area: content;
}

/* FOOTER STYLES */

footer {
    background-color: #0e3659;
    color: var(--paper);
    font-family: Roboto;
    padding: 1em 0.5em;
    grid-area: footer;
}

@media only screen and (min-width: 992px) {
    footer p {
        margin-left: 200px;
    }
}