/* COLORS USED 

#010B40 --> Violent Violet
#0E3659 --> Prussian Blue
#486773 --> Planet Green
#BDBFAE --> Light Goldenrod Yellow
#F2E2C4 --> Paper Lantern

*/

/* GENEERAL STYLES */

:root {
    --violet: #010B40;
    --blue:#0E3659;
    --green: #486773;
    --yellow: #BDBFAE;
    --paper: #F2E2C4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--paper);
}

#container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* NAV BAR STYLES */

header {
    width: 100vw;
    background-color: var(--blue);
    padding: 1rem;
    font-family: Roboto;
    display: flex;
    justify-content: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    text-align: center;
    max-width: 1200px;
    width: 100%;
}

#logo img {
    max-width: 6rem;
}

#logo p {
    margin: 0;
 }

#menu ul {
    padding: 0;
    list-style: none
}

.menu-item {
    display: inline;
    margin: 0 10px;
}

.menu-item a {
    text-decoration: none;
    color: var(--paper);
}

#logo a {
    font-family: Passions Conflict;
    color: var(--yellow);
    text-decoration: none;
}

/* MAIN PART STYLES */
#hero {
    width: 100vw;
    max-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

#projects {
    display: flex;
    flex-direction: column;
}

.project-grid {
    display: grid;
    gap: 2rem;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: center;
    background-color: var(--green);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.project img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* FOOTER STYLES */

footer {
    width: 100vw;
    overflow: hidden;
    background-color: #0e3659;
    color: var(--paper);
    font-family: Roboto;
    text-align: center;
    padding: 1rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 992px) {
    nav {
        grid-template-columns: auto 1fr;
        align-items: center;
        margin: 0 auto;
    }

    #logo {
        padding-left: 2rem;
        justify-self: start;
    }

    #menu {
        justify-self: end;
    }

    #hero {
        height: 70vh;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .project {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}